@page
@model Projekt_Biblioteka.Pages.Profile.ResetPasswordModel
@{
}


<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Biblioteka - Reset Hasła</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <header>
        <div class="loginHeader">Resetuj Hasło</div>

    </header>
    <main>
        <div id="container">
            <form method="post">
                <input type="text" name="email" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'">
                <input type="submit" value="Resetuj">
                <p id="brakKonta">Nie masz konta? <a href="../../Register" id="rejestracja">Zarejestruj się.</a></p>
            </form>
        </div>
    </main>
</body>

</html>