@page
@model Projekt_Biblioteka.Pages.LoginModel

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Biblioteka - Logowanie</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <header>
        <div class="loginHeader">Zaloguj się do Biblioteki</div>
    </header>
    <main>
        <div id="container">
            <form method="post">
                <input asp-for="user.Login" type="text" name="login" placeholder="Login" onfocus="this.placeholder=''" onblur="this.placeholder='Login'">
                <input asp-for="user.Password" type="password" name="password" placeholder="Hasło" onfocus="this.placeholder=''" onblur="this.placeholder='Hasło'">
                <button asp-page-handler="LogIn" class="loginButton">Zaloguj się</button>
                <p id="brakKonta">Nie masz konta? <a href="/Register" id="rejestracja">Zarejestruj się.</a></p>
            </form>
        </div>
    </main>
</body>
</html>