@page
@model Projekt_Biblioteka.Pages.Register
@{
    ViewData["Title"] = "Register Page";
}

<head>
    <meta charset="utf-8" />
    <title>Biblioteka - Logowanie</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>

    <header>
        <div class="loginHeader">Zarejestruj się do Biblioteki</div>
    </header>
    <main>
        <div id="container">
            <form action="Login" method="post">
                <input type="text" name="login" placeholder="Login" onfocus="this.placeholder=''" onblur="this.placeholder='Login'">
                <input type="email" name="email" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'">
                <input type="password" name="password" placeholder="Hasło" onfocus="this.placeholder=''" onblur="this.placeholder='Hasło'">
                <input type="password" name="repeatPassword" placeholder="Powtórz Hasło" onfocus="this.placeholder=''" onblur="this.placeholder='Powtórz Hasło'">
                <input type="submit" value="Zaloguj się">
                <p id="brakKonta">Nie masz konta? <a href="/" id="rejestracja">Zarejestruj się.</a></p>
            </form>
        </div>
    </main>
</body>
