@page
@model Projekt_Biblioteka.Pages.Register
@{
    ViewData["Title"] = "Register Page";
}

<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>

    <br />
    <h2 class="text-info">Nowy użytkownik</h2>
    <br />

    <div id="container">
        <form method="post">
            <div class="form-group row">
                <div class="col-9">
                    <input type="text" asp-for="user.Login" class="form-control" placeholder="Login" onfocus="this.placeholder=''" onblur="this.placeholder='Login'"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-9">
                    <input type="text" asp-for="user.Email" class="form-control" placeholder="E-mail" onfocus="this.placeholder=''" onblur="this.placeholder='E-mail'"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-9">
                    <input type="password" asp-for="user.Password" class="form-control" type="password" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-9">
                    <input type="password" asp-for="password2" class="form-control" type="password" placeholder="Repeat password" onfocus="this.placeholder=''" onblur="this.placeholder='Repeat password'"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-9">
                    <input type="submit" value="Rejestruj" class="loginButton" />
                </div>
            </div>
        </form>
    </div>

</body>

<!--

<body>

    <header>
        <div class="loginHeader">Zarejestruj się do Biblioteki</div>
    </header>
    <main>
        <div id="container">
            <form method="post">
                <input asp-for="user.Login" type="text" name="login" placeholder="Login" onfocus="this.placeholder=''" onblur="this.placeholder='Login'">
                <input asp-for="user.Email" type="text" name="email" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'">
                <input asp-for="user.Password" type="password" name="password" placeholder="Hasło" onfocus="this.placeholder=''" onblur="this.placeholder='Hasło'">
                <input type="password" name="repeatPassword" placeholder="Powtórz Hasło" onfocus="this.placeholder=''" onblur="this.placeholder='Powtórz Hasło'">
                <input type="submit" value="Zarejestruj się">
                <p id="brakKonta">Nie masz konta? <a href="/" id="rejestracja">Zarejestruj się.</a></p>
            </form>
        </div>
    </main>
</body>
    -->
